Repository ExpediaGroup/graphql-kotlin, pull requests merged in 2020-12, with the labels that each got.

#951 add ktor example
  examples/README.md
  examples/ktor-server/README.md
  examples/ktor-server/build.gradle.kts
  examples/ktor-server/gradle.properties
  examples/ktor-server/src/main/kotlin/com/expediagroup/graphql/examples/ktor/Application.kt
  examples/ktor-server/src/main/kotlin/com/expediagroup/graphql/examples/ktor/GraphQLHandler.kt
  examples/ktor-server/src/main/kotlin/com/expediagroup/graphql/examples/ktor/GraphQLModule.kt
  examples/ktor-server/src/main/kotlin/com/expediagroup/graphql/examples/ktor/schema/BookQueryService.kt
  examples/ktor-server/src/main/kotlin/com/expediagroup/graphql/examples/ktor/schema/CourseQueryService.kt
  examples/ktor-server/src/main/kotlin/com/expediagroup/graphql/examples/ktor/schema/HelloQueryService.kt
  examples/ktor-server/src/main/kotlin/com/expediagroup/graphql/examples/ktor/schema/LoginMutationService.kt
  examples/ktor-server/src/main/kotlin/com/expediagroup/graphql/examples/ktor/schema/UniversityQueryService.kt
  examples/ktor-server/src/main/kotlin/com/expediagroup/graphql/examples/ktor/schema/models/Book.kt
  examples/ktor-server/src/main/kotlin/com/expediagroup/graphql/examples/ktor/schema/models/Course.kt
  examples/ktor-server/src/main/kotlin/com/expediagroup/graphql/examples/ktor/schema/models/University.kt
  examples/ktor-server/src/main/kotlin/com/expediagroup/graphql/examples/ktor/schema/models/User.kt
  examples/ktor-server/src/main/resources/application.conf
  examples/ktor-server/src/main/resources/graphql-playground.html
  examples/ktor-server/src/main/resources/logback.xml
  examples/settings.gradle.kts
Labels: type: documentation

#955 [server] update default GraphQLContext
  graphql-kotlin-schema-generator/src/main/kotlin/com/expediagroup/graphql/execution/GraphQLContext.kt
  graphql-kotlin-spring-server/src/main/kotlin/com/expediagroup/graphql/spring/GraphQLExecutionConfiguration.kt
  graphql-kotlin-spring-server/src/main/kotlin/com/expediagroup/graphql/spring/execution/GraphQLContextFactory.kt
  graphql-kotlin-spring-server/src/main/kotlin/com/expediagroup/graphql/spring/extensions/requestExtensions.kt
  graphql-kotlin-spring-server/src/test/kotlin/com/expediagroup/graphql/spring/context/ContextWebFilterTest.kt
  graphql-kotlin-spring-server/src/test/kotlin/com/expediagroup/graphql/spring/extensions/RequestExtensionsKtTest.kt
Labels: changes: major, module: spring-server, type: bug

#956 [plugins] allow renaming of the downloaded/introspected schema
  docs/plugins/gradle-plugin.md
  docs/plugins/maven-plugin.md
  plugins/graphql-kotlin-gradle-plugin/README.md
  plugins/graphql-kotlin-gradle-plugin/src/main/kotlin/com/expediagroup/graphql/plugin/gradle/tasks/GraphQLDownloadSDLTask.kt
  plugins/graphql-kotlin-gradle-plugin/src/main/kotlin/com/expediagroup/graphql/plugin/gradle/tasks/GraphQLIntrospectSchemaTask.kt
  plugins/graphql-kotlin-maven-plugin/README.md
  plugins/graphql-kotlin-maven-plugin/src/integration/basic-setup/pom.xml
  plugins/graphql-kotlin-maven-plugin/src/integration/complete-setup/pom.xml
  plugins/graphql-kotlin-maven-plugin/src/integration/complete-setup/src/test/kotlin/com/expediagroup/graphql/plugin/maven/GraphQLMavenPluginTest.kt
  plugins/graphql-kotlin-maven-plugin/src/main/kotlin/com/expediagroup/graphql/plugin/maven/GenerateClientAbstractMojo.kt
  plugins/graphql-kotlin-maven-plugin/src/main/kotlin/com/expediagroup/graphql/plugin/maven/RetrieveSchemaAbstractMojo.kt
Labels: changes: minor, module: plugins, type: enhancement

#957 [build] deprioritize jcenter in favor of maven central
  build.gradle.kts
Labels: type: tool update

#959 [docs] fixing examples readme
  examples/README.md
Labels: type: documentation

#961 [3.x.x/docs] fixing documentation on adding types to generator
  docs/schema-generator/customizing-schemas/advanced-features.md
Labels: type: documentation

#960 [3.x.x] Add federation context and tracing support
  docs/federated/federation-tracing.md
  docs/spring-server/spring-graphql-context.md
  gradle.properties
  graphql-kotlin-federation/build.gradle.kts
  graphql-kotlin-federation/src/main/kotlin/com/expediagroup/graphql/federation/execution/FederationGraphQLContext.kt
  graphql-kotlin-spring-server/build.gradle.kts
  graphql-kotlin-spring-server/src/main/kotlin/com/expediagroup/graphql/spring/FederatedSchemaAutoConfiguration.kt
  graphql-kotlin-spring-server/src/main/kotlin/com/expediagroup/graphql/spring/GraphQLAutoConfiguration.kt
  graphql-kotlin-spring-server/src/main/kotlin/com/expediagroup/graphql/spring/SchemaAutoConfiguration.kt
  graphql-kotlin-spring-server/src/main/kotlin/com/expediagroup/graphql/spring/execution/GraphQLContextFactory.kt
  graphql-kotlin-spring-server/src/main/kotlin/com/expediagroup/graphql/spring/execution/QueryHandler.kt
  website/sidebars.json
Labels: changes: minor, module: federation, module: spring-server, type: enhancement

#964 Update versions page links and test
  website/pages/en/versions.js
Labels: type: documentation

#963 [3.x.x] Fix some federated tracing issues
  docs/federated/federation-tracing.md
  docs/spring-server/spring-beans.md
  docs/spring-server/spring-graphql-context.md
  docs/spring-server/spring-properties.md
  graphql-kotlin-federation/src/main/kotlin/com/expediagroup/graphql/federation/execution/FederatedGraphQLContext.kt
  graphql-kotlin-spring-server/src/main/kotlin/com/expediagroup/graphql/spring/FederatedSchemaAutoConfiguration.kt
  graphql-kotlin-spring-server/src/main/kotlin/com/expediagroup/graphql/spring/GraphQLConfigurationProperties.kt
  graphql-kotlin-spring-server/src/main/kotlin/com/expediagroup/graphql/spring/execution/GraphQLContextFactory.kt
  graphql-kotlin-spring-server/src/test/kotlin/com/expediagroup/graphql/spring/FederationConfigurationTest.kt
Labels: changes: minor, module: federation

#969 [docs] update contact info
  README.md
Labels: type: documentation

#972 [server] add support for flow subscriptions
  docs/schema-generator/execution/subscriptions.md
  docs/spring-server/subscriptions.md
  graphql-kotlin-schema-generator/src/main/kotlin/com/expediagroup/graphql/execution/FlowSubscriptionExecutionStrategy.kt
  graphql-kotlin-schema-generator/src/test/kotlin/com/expediagroup/graphql/execution/FlowSubscriptionExecutionStrategyTest.kt
  graphql-kotlin-spring-server/src/main/kotlin/com/expediagroup/graphql/spring/GraphQLSchemaConfiguration.kt
Labels: changes: major, module: schema-generator, module: spring-server

#973 [plugins] update introspection query
  plugins/graphql-kotlin-plugin-core/src/main/kotlin/com/expediagroup/graphql/plugin/introspectSchema.kt
Labels: changes: minor, module: plugins

#974 [build] exclude unnecessary plugin dependencies
  plugins/graphql-kotlin-plugin-core/build.gradle.kts
  plugins/graphql-kotlin-plugin-core/src/main/kotlin/com/expediagroup/graphql/plugin/generator/GraphQLClientGenerator.kt
Labels: changes: patch, module: plugins, type: dependency changes

#976 [generator] additional test for nested optional input values
  graphql-kotlin-schema-generator/src/main/kotlin/com/expediagroup/graphql/execution/OptionalInput.kt
  graphql-kotlin-schema-generator/src/test/kotlin/com/expediagroup/graphql/test/integration/OptionalInputTest.kt
Labels: changes: patch, module: schema-generator

#981 Support default Kotlin values
  docs/schema-generator/execution/optional-undefined-arguments.md
  docs/schema-generator/writing-schemas/arguments.md
  graphql-kotlin-schema-generator/src/main/kotlin/com/expediagroup/graphql/execution/FunctionDataFetcher.kt
  graphql-kotlin-schema-generator/src/test/kotlin/com/expediagroup/graphql/execution/FunctionDataFetcherTest.kt
  graphql-kotlin-schema-generator/src/test/kotlin/com/expediagroup/graphql/test/integration/OptionalInputTest.kt
  graphql-kotlin-spring-server/src/main/kotlin/com/expediagroup/graphql/spring/execution/SpringDataFetcher.kt
Labels: changes: major, module: schema-generator, type: enhancement

#985 move operation marker interfaces from spring-server to types
  examples/federation/base-app/src/main/kotlin/com/expediagroup/graphql/examples/query/NestedQuery.kt
  examples/federation/base-app/src/main/kotlin/com/expediagroup/graphql/examples/query/SimpleQuery.kt
  examples/federation/base-app/src/main/kotlin/com/expediagroup/graphql/examples/query/WidgetQuery.kt
  examples/federation/extend-app/src/main/kotlin/com/expediagroup/graphql/examples/query/SimpleQuery.kt
  examples/server/spring-server/src/main/kotlin/com/expediagroup/graphql/examples/mutation/OptionalInputMutation.kt
  examples/server/spring-server/src/main/kotlin/com/expediagroup/graphql/examples/mutation/SimpleMutation.kt
  examples/server/spring-server/src/main/kotlin/com/expediagroup/graphql/examples/mutation/WidgetMutation.kt
  examples/server/spring-server/src/main/kotlin/com/expediagroup/graphql/examples/query/AsyncQuery.kt
  examples/server/spring-server/src/main/kotlin/com/expediagroup/graphql/examples/query/ContextualQuery.kt
  examples/server/spring-server/src/main/kotlin/com/expediagroup/graphql/examples/query/CoroutineQuery.kt
  examples/server/spring-server/src/main/kotlin/com/expediagroup/graphql/examples/query/CustomDirectiveQuery.kt
  examples/server/spring-server/src/main/kotlin/com/expediagroup/graphql/examples/query/DataAndErrorsQuery.kt
  examples/server/spring-server/src/main/kotlin/com/expediagroup/graphql/examples/query/DataLoaderQuery.kt
  examples/server/spring-server/src/main/kotlin/com/expediagroup/graphql/examples/query/EnvironmentQuery.kt
  examples/server/spring-server/src/main/kotlin/com/expediagroup/graphql/examples/query/NestedQueries.kt
  examples/server/spring-server/src/main/kotlin/com/expediagroup/graphql/examples/query/PolymorphicQuery.kt
  examples/server/spring-server/src/main/kotlin/com/expediagroup/graphql/examples/query/PrivateInterfaceQuery.kt
  examples/server/spring-server/src/main/kotlin/com/expediagroup/graphql/examples/query/RecursiveQuery.kt
  examples/server/spring-server/src/main/kotlin/com/expediagroup/graphql/examples/query/ScalarQuery.kt
  examples/server/spring-server/src/main/kotlin/com/expediagroup/graphql/examples/query/SimpleQuery.kt
  examples/server/spring-server/src/main/kotlin/com/expediagroup/graphql/examples/query/SpringAwareQuery.kt
  examples/server/spring-server/src/main/kotlin/com/expediagroup/graphql/examples/query/StressQuery.kt
  examples/server/spring-server/src/main/kotlin/com/expediagroup/graphql/examples/query/SubQueries.kt
  examples/server/spring-server/src/main/kotlin/com/expediagroup/graphql/examples/query/TopLevelBeanFactoryQuery.kt
  examples/server/spring-server/src/main/kotlin/com/expediagroup/graphql/examples/query/ValidatedQuery.kt
  examples/server/spring-server/src/main/kotlin/com/expediagroup/graphql/examples/subscriptions/SimpleSubscription.kt
  graphql-kotlin-spring-server/src/main/kotlin/com/expediagroup/graphql/spring/FederatedSchemaAutoConfiguration.kt
  graphql-kotlin-spring-server/src/main/kotlin/com/expediagroup/graphql/spring/NonFederatedSchemaAutoConfiguration.kt
  graphql-kotlin-spring-server/src/main/kotlin/com/expediagroup/graphql/spring/SubscriptionAutoConfiguration.kt
  graphql-kotlin-spring-server/src/test/kotlin/com/expediagroup/graphql/spring/FederationConfigurationTest.kt
  graphql-kotlin-spring-server/src/test/kotlin/com/expediagroup/graphql/spring/SchemaConfigurationTest.kt
  graphql-kotlin-spring-server/src/test/kotlin/com/expediagroup/graphql/spring/SubscriptionConfigurationTest.kt
  graphql-kotlin-spring-server/src/test/kotlin/com/expediagroup/graphql/spring/context/GraphQLContextFactoryIT.kt
  graphql-kotlin-spring-server/src/test/kotlin/com/expediagroup/graphql/spring/execution/DataFetcherIT.kt
  graphql-kotlin-spring-server/src/test/kotlin/com/expediagroup/graphql/spring/execution/IntrospectionIT.kt
  graphql-kotlin-spring-server/src/test/kotlin/com/expediagroup/graphql/spring/execution/SpringDataFetcherIT.kt
  graphql-kotlin-spring-server/src/test/kotlin/com/expediagroup/graphql/spring/execution/SubscriptionWebSocketHandlerIT.kt
  graphql-kotlin-spring-server/src/test/kotlin/com/expediagroup/graphql/spring/instrumentation/InstrumentationIT.kt
  graphql-kotlin-spring-server/src/test/kotlin/com/expediagroup/graphql/spring/routes/RouteConfigurationIT.kt
  graphql-kotlin-spring-server/src/test/kotlin/com/expediagroup/graphql/spring/routes/SubscriptionRoutesConfigurationIT.kt
  graphql-kotlin-types/src/main/kotlin/com/expediagroup/graphql/server/operations/Mutation.kt
  graphql-kotlin-types/src/main/kotlin/com/expediagroup/graphql/server/operations/Query.kt
  graphql-kotlin-types/src/main/kotlin/com/expediagroup/graphql/server/operations/Subscription.kt
Labels: changes: major, module: spring-server
