Repository ExpediaGroup/graphql-kotlin, pull requests merged in 2021-06, with the labels that each got.

#1172 versioned docs: replace references to `master` branch with `3.x.x`
  website/versioned_docs/version-3.x.x/client/client-overview.md
  website/versioned_docs/version-3.x.x/contributors/release-proc.md
  website/versioned_docs/version-3.x.x/examples.md
  website/versioned_docs/version-3.x.x/federated/apollo-federation.md
  website/versioned_docs/version-3.x.x/federated/federated-schemas.md
  website/versioned_docs/version-3.x.x/federated/type-resolution.md
  website/versioned_docs/version-3.x.x/getting-started.md
  website/versioned_docs/version-3.x.x/plugins/gradle-plugin.md
  website/versioned_docs/version-3.x.x/plugins/maven-plugin.md
  website/versioned_docs/version-3.x.x/schema-generator/customizing-schemas/advanced-features.md
  website/versioned_docs/version-3.x.x/schema-generator/customizing-schemas/directives.md
  website/versioned_docs/version-3.x.x/schema-generator/customizing-schemas/generator-config.md
  website/versioned_docs/version-3.x.x/schema-generator/execution/async-models.md
  website/versioned_docs/version-3.x.x/schema-generator/execution/contextual-data.md
  website/versioned_docs/version-3.x.x/schema-generator/execution/data-fetching-environment.md
  website/versioned_docs/version-3.x.x/schema-generator/execution/exceptions.md
  website/versioned_docs/version-3.x.x/schema-generator/execution/fetching-data.md
  website/versioned_docs/version-3.x.x/schema-generator/schema-generator-getting-started.md
  website/versioned_docs/version-3.x.x/spring-server/spring-beans.md
  website/versioned_docs/version-3.x.x/spring-server/spring-graphql-context.md
  website/versioned_docs/version-3.x.x/spring-server/spring-overview.md
  website/versioned_docs/version-3.x.x/spring-server/spring-properties.md
  website/versioned_docs/version-3.x.x/spring-server/spring-schema.md
  website/versioned_docs/version-3.x.x/spring-server/subscriptions.md
Labels: type: documentation

#1171 [generator] remove extended scalars
  examples/server/spring-server/src/main/kotlin/com/expediagroup/graphql/examples/server/spring/subscriptions/SimpleSubscription.kt
  generator/graphql-kotlin-schema-generator/src/main/kotlin/com/expediagroup/graphql/generator/internal/types/generateScalar.kt
  generator/graphql-kotlin-schema-generator/src/test/kotlin/com/expediagroup/graphql/generator/internal/types/GenerateScalarTest.kt
Labels: changes: major, module: generator

#1182 [plugin] better error messages when generating clients
  plugins/client/graphql-kotlin-client-generator/src/main/kotlin/com/expediagroup/graphql/plugin/client/generator/GraphQLClientGenerator.kt
  plugins/client/graphql-kotlin-client-generator/src/main/kotlin/com/expediagroup/graphql/plugin/client/generator/GraphQLClientGeneratorContext.kt
  plugins/client/graphql-kotlin-client-generator/src/main/kotlin/com/expediagroup/graphql/plugin/client/generator/exceptions/DeprecatedFieldsSelectedException.kt
  plugins/client/graphql-kotlin-client-generator/src/main/kotlin/com/expediagroup/graphql/plugin/client/generator/exceptions/InvalidFragmentException.kt
  plugins/client/graphql-kotlin-client-generator/src/main/kotlin/com/expediagroup/graphql/plugin/client/generator/exceptions/InvalidPolymorphicQueryException.kt
  plugins/client/graphql-kotlin-client-generator/src/main/kotlin/com/expediagroup/graphql/plugin/client/generator/exceptions/InvalidSelectionSetException.kt
  plugins/client/graphql-kotlin-client-generator/src/main/kotlin/com/expediagroup/graphql/plugin/client/generator/exceptions/MissingTypeNameException.kt
  plugins/client/graphql-kotlin-client-generator/src/main/kotlin/com/expediagroup/graphql/plugin/client/generator/exceptions/MultipleOperationsInFileException.kt
  plugins/client/graphql-kotlin-client-generator/src/main/kotlin/com/expediagroup/graphql/plugin/client/generator/extensions/DocumentExtensions.kt
  plugins/client/graphql-kotlin-client-generator/src/main/kotlin/com/expediagroup/graphql/plugin/client/generator/types/generateGraphQLInterfaceTypeSpec.kt
  plugins/client/graphql-kotlin-client-generator/src/main/kotlin/com/expediagroup/graphql/plugin/client/generator/types/generateGraphQLObjectTypeSpec.kt
  plugins/client/graphql-kotlin-client-generator/src/main/kotlin/com/expediagroup/graphql/plugin/client/generator/types/generateGraphQLUnionTypeSpec.kt
  plugins/client/graphql-kotlin-client-generator/src/main/kotlin/com/expediagroup/graphql/plugin/client/generator/types/generateInterfaceTypeSpec.kt
  plugins/client/graphql-kotlin-client-generator/src/main/kotlin/com/expediagroup/graphql/plugin/client/generator/types/generatePropertySpecs.kt
  plugins/client/graphql-kotlin-client-generator/src/main/kotlin/com/expediagroup/graphql/plugin/client/generator/types/generateTypeName.kt
  plugins/client/graphql-kotlin-client-generator/src/test/data/invalid/interface_missing_typename/exception.txt
  plugins/client/graphql-kotlin-client-generator/src/test/data/invalid/union_missing_typename/exception.txt
Labels: changes: patch, module: plugin

#1184 [build] remove dependency on jcenter
  build.gradle.kts
  examples/build.gradle.kts
  examples/gradle.properties
  gradle.properties
Labels: type: dependency changes

#1150 Added ability to return lists of DataFetcherResults in functions with Schema Generator
  generator/graphql-kotlin-schema-generator/src/main/kotlin/com/expediagroup/graphql/generator/internal/types/utils/functionReturnTypes.kt
  generator/graphql-kotlin-schema-generator/src/test/kotlin/com/expediagroup/graphql/generator/internal/types/utils/FunctionReturnTypesKtTest.kt
  generator/graphql-kotlin-schema-generator/src/test/kotlin/com/expediagroup/graphql/generator/test/integration/DataFetcherResultListTest.kt
Labels: changes: minor, module: generator

#1176 Update to kotlin 1.5
  clients/graphql-kotlin-client-serialization/build.gradle.kts
  generator/graphql-kotlin-schema-generator/src/test/kotlin/com/expediagroup/graphql/generator/hooks/FlowSubscriptionSchemaGeneratorHooksTest.kt
  gradle.properties
  plugins/client/graphql-kotlin-client-generator/src/test/data/generator/interface_diff_selection_sets/differentselectionsetquery/BasicInterface.kt
  plugins/client/graphql-kotlin-client-generator/src/test/data/generator/interface_diff_selection_sets/differentselectionsetquery/BasicInterface2.kt
  plugins/client/graphql-kotlin-client-generator/src/test/data/generator/interface_impl_diff_selection_sets/differentselectionsetquery/BasicInterface.kt
  plugins/client/graphql-kotlin-client-generator/src/test/data/generator/interface_impl_diff_selection_sets/differentselectionsetquery/BasicInterface2.kt
  plugins/client/graphql-kotlin-client-generator/src/test/data/generator/interface_named_fragments/interfacewithnamedfragmentsquery/BasicInterface.kt
  plugins/client/graphql-kotlin-client-generator/src/test/data/generator/object_diff_selection_set/differentselectionsquery/DetailsObject.kt
  plugins/client/graphql-kotlin-client-generator/src/test/data/generator/object_diff_sub_selection/differentsubselectionquery/DetailsObject.kt
  plugins/client/graphql-kotlin-client-generator/src/test/data/generator/object_diff_sub_selection/differentsubselectionquery/DetailsObject2.kt
  plugins/client/graphql-kotlin-client-generator/src/test/data/generator/object_named_fragments/objectwithnamedfragmentquery/DetailsObject.kt
  plugins/client/graphql-kotlin-client-generator/src/test/data/generator/reuse_types/reusedtypesquery/DetailsObject.kt
  plugins/client/graphql-kotlin-client-generator/src/test/data/generator/union_diff_selection_set2/differentselectionsetquery/DetailsObject.kt
  plugins/client/graphql-kotlin-client-generator/src/test/data/jackson/custom_scalars/scalars/UUID.kt
  plugins/client/graphql-kotlin-client-generator/src/test/data/jackson/interface/interfacewithinlinefragmentsquery/BasicInterface.kt
  plugins/client/graphql-kotlin-client-generator/src/test/data/jackson/object/complexobjectquery/DetailsObject.kt
  plugins/client/graphql-kotlin-client-generator/src/test/data/kotlinx/custom_scalars/scalars/UUID.kt
  plugins/client/graphql-kotlin-client-generator/src/test/data/kotlinx/multiple_queries/firstquery/DetailsObject.kt
  plugins/client/graphql-kotlin-client-generator/src/test/data/kotlinx/multiple_queries/scalars/UUID.kt
  plugins/client/graphql-kotlin-client-generator/src/test/data/kotlinx/object/complexobjectquery/DetailsObject.kt
  plugins/graphql-kotlin-gradle-plugin/src/test/kotlin/com/expediagroup/graphql/plugin/gradle/tasks/GraphQLDownloadSDLTaskIT.kt
  plugins/graphql-kotlin-gradle-plugin/src/test/kotlin/com/expediagroup/graphql/plugin/gradle/tasks/GraphQLIntrospectSchemaTaskIT.kt
Labels: changes: patch, type: dependency changes

#1185 [build] update dependencies
  gradle.properties
Labels: type: dependency changes

#1186 Update unit tests for lists of lists
  generator/graphql-kotlin-schema-generator/src/test/kotlin/com/expediagroup/graphql/generator/internal/types/utils/FunctionReturnTypesKtTest.kt
Labels: changes: patch, module: generator

#1191 Fix issues with Long in schema
  examples/server/ktor-server/src/main/kotlin/com/expediagroup/graphql/examples/server/ktor/KtorGraphQLServer.kt
  examples/server/ktor-server/src/main/kotlin/com/expediagroup/graphql/examples/server/ktor/ktorGraphQLSchema.kt
  examples/server/ktor-server/src/main/kotlin/com/expediagroup/graphql/examples/server/ktor/schema/BookQueryService.kt
  examples/server/ktor-server/src/main/kotlin/com/expediagroup/graphql/examples/server/ktor/schema/CourseQueryService.kt
  examples/server/ktor-server/src/main/kotlin/com/expediagroup/graphql/examples/server/ktor/schema/UniversityQueryService.kt
  examples/server/ktor-server/src/main/kotlin/com/expediagroup/graphql/examples/server/ktor/schema/dataloaders/BookDataLoader.kt
  examples/server/ktor-server/src/main/kotlin/com/expediagroup/graphql/examples/server/ktor/schema/dataloaders/CourseDataLoader.kt
  examples/server/ktor-server/src/main/kotlin/com/expediagroup/graphql/examples/server/ktor/schema/dataloaders/UniversityDataLoader.kt
  examples/server/ktor-server/src/main/kotlin/com/expediagroup/graphql/examples/server/ktor/schema/models/Book.kt
  examples/server/ktor-server/src/main/kotlin/com/expediagroup/graphql/examples/server/ktor/schema/models/Course.kt
  examples/server/ktor-server/src/main/kotlin/com/expediagroup/graphql/examples/server/ktor/schema/models/University.kt
  examples/server/ktor-server/src/main/kotlin/com/expediagroup/graphql/examples/server/ktor/schema/models/User.kt
Labels: module: examples

#1204 Update docs on arguments to make it clear defaults are required
  website/docs/schema-generator/writing-schemas/arguments.md
Labels: type: documentation
