Repository ExpediaGroup/graphql-kotlin, pull requests merged in 2021-01, with the labels that each got.

#989 [build] update gpg key
  .github/workflows/release-code.yml
Labels: type: tool update

#991 [build] update Gradle version to 6.7.1
  examples/gradle/wrapper/gradle-wrapper.properties
  gradle/wrapper/gradle-wrapper.properties
Labels: changes: patch, type: tool update

#992 Remove spark examples
  docs/examples.md
  examples/README.md
  examples/server/spark-server/README.md
  examples/server/spark-server/build.gradle.kts
  examples/server/spark-server/src/main/kotlin/com/expediagroup/graphql/examples/spark/Application.kt
  examples/server/spark-server/src/main/kotlin/com/expediagroup/graphql/examples/spark/GraphQLHandler.kt
  examples/server/spark-server/src/main/kotlin/com/expediagroup/graphql/examples/spark/schema/BookQueryService.kt
  examples/server/spark-server/src/main/kotlin/com/expediagroup/graphql/examples/spark/schema/CourseQueryService.kt
  examples/server/spark-server/src/main/kotlin/com/expediagroup/graphql/examples/spark/schema/HelloQueryService.kt
  examples/server/spark-server/src/main/kotlin/com/expediagroup/graphql/examples/spark/schema/LoginMutationService.kt
  examples/server/spark-server/src/main/kotlin/com/expediagroup/graphql/examples/spark/schema/UniversityQueryService.kt
  examples/server/spark-server/src/main/kotlin/com/expediagroup/graphql/examples/spark/schema/models/Book.kt
  examples/server/spark-server/src/main/kotlin/com/expediagroup/graphql/examples/spark/schema/models/Course.kt
  examples/server/spark-server/src/main/kotlin/com/expediagroup/graphql/examples/spark/schema/models/University.kt
  examples/server/spark-server/src/main/kotlin/com/expediagroup/graphql/examples/spark/schema/models/User.kt
  examples/settings.gradle.kts
Labels: type: documentation

#990 [plugins] create sdl-generator module that can generate graphql schema
  docs/plugins/hooks-provider.md
  gradle.properties
  plugins/schema/graphql-kotlin-federated-hooks-provider/README.md
  plugins/schema/graphql-kotlin-federated-hooks-provider/build.gradle.kts
  plugins/schema/graphql-kotlin-federated-hooks-provider/src/main/kotlin/com/expediagroup/graphql/plugin/schema/hooks/FederatedSchemaGeneratorHooksProvider.kt
  plugins/schema/graphql-kotlin-federated-hooks-provider/src/main/resources/META-INF/services/com.expediagroup.graphql.plugin.schema.hooks.SchemaGeneratorHooksProvider
  plugins/schema/graphql-kotlin-hooks-provider/README.md
  plugins/schema/graphql-kotlin-hooks-provider/build.gradle.kts
  plugins/schema/graphql-kotlin-hooks-provider/src/main/kotlin/com/expediagroup/graphql/plugin/schema/hooks/SchemaGeneratorHooksProvider.kt
  plugins/schema/graphql-kotlin-sdl-generator/README.md
  plugins/schema/graphql-kotlin-sdl-generator/build.gradle.kts
  plugins/schema/graphql-kotlin-sdl-generator/src/integrationTest/kotlin/com/expediagroup/graphql/plugin/schema/GenerateCustomSDLTest.kt
  plugins/schema/graphql-kotlin-sdl-generator/src/integrationTest/kotlin/com/expediagroup/test/FederatedGraphQLServer.kt
  plugins/schema/graphql-kotlin-sdl-generator/src/integrationTest/kotlin/com/expediagroup/test/SimpleQuery.kt
  plugins/schema/graphql-kotlin-sdl-generator/src/integrationTest/kotlin/com/expediagroup/test/hooks/CustomFederatedHooks.kt
  plugins/schema/graphql-kotlin-sdl-generator/src/integrationTest/kotlin/com/expediagroup/test/hooks/TestSchemaGeneratorHooksProvider.kt
  plugins/schema/graphql-kotlin-sdl-generator/src/integrationTest/resources/META-INF/services/com.expediagroup.graphql.plugin.schema.hooks.SchemaGeneratorHooksProvider
  plugins/schema/graphql-kotlin-sdl-generator/src/integrationTest/resources/application.yml
  plugins/schema/graphql-kotlin-sdl-generator/src/main/kotlin/com/expediagroup/graphql/plugin/schema/GenerateSDL.kt
  plugins/schema/graphql-kotlin-sdl-generator/src/test/kotlin/com/expediagroup/graphql/plugin/schema/GenerateSDLTest.kt
  plugins/schema/graphql-kotlin-sdl-generator/src/test/kotlin/com/expediagroup/test/SimpleGraphQLServer.kt
  plugins/schema/graphql-kotlin-sdl-generator/src/test/kotlin/com/expediagroup/test/SimpleQuery.kt
  plugins/schema/graphql-kotlin-sdl-generator/src/test/resources/application.yml
  settings.gradle.kts
  website/sidebars.json
Labels: changes: minor, module: plugins

#994 [plugin] new generate-sdl GraphQL MOJO
  docs/plugins/maven-plugin-examples.md
  docs/plugins/maven-plugin.md
  plugins/graphql-kotlin-maven-plugin/src/integration/generate-sdl-federated/pom.xml
  plugins/graphql-kotlin-maven-plugin/src/integration/generate-sdl-federated/src/main/kotlin/com/example/Application.kt
  plugins/graphql-kotlin-maven-plugin/src/integration/generate-sdl-federated/src/main/kotlin/com/example/SimpleQuery.kt
  plugins/graphql-kotlin-maven-plugin/src/integration/generate-sdl-federated/src/main/resources/application.yml
  plugins/graphql-kotlin-maven-plugin/src/integration/generate-sdl-federated/src/test/kotlin/com/expediagroup/graphql/plugin/maven/GenerateSDLMojoTest.kt
  plugins/graphql-kotlin-maven-plugin/src/integration/generate-sdl-hooks/pom.xml
  plugins/graphql-kotlin-maven-plugin/src/integration/generate-sdl-hooks/src/main/kotlin/com/example/Application.kt
  plugins/graphql-kotlin-maven-plugin/src/integration/generate-sdl-hooks/src/main/kotlin/com/example/SimpleQuery.kt
  plugins/graphql-kotlin-maven-plugin/src/integration/generate-sdl-hooks/src/main/kotlin/com/example/hooks/CustomFederatedHooks.kt
  plugins/graphql-kotlin-maven-plugin/src/integration/generate-sdl-hooks/src/main/kotlin/com/example/hooks/CustomHooksProvider.kt
  plugins/graphql-kotlin-maven-plugin/src/integration/generate-sdl-hooks/src/main/resources/META-INF/services/com.expediagroup.graphql.plugin.schema.hooks.SchemaGeneratorHooksProvider
  plugins/graphql-kotlin-maven-plugin/src/integration/generate-sdl-hooks/src/main/resources/application.yml
  plugins/graphql-kotlin-maven-plugin/src/integration/generate-sdl-hooks/src/test/kotlin/com/expediagroup/graphql/plugin/maven/GenerateSDLMojoTest.kt
  plugins/graphql-kotlin-maven-plugin/src/integration/generate-sdl/pom.xml
  plugins/graphql-kotlin-maven-plugin/src/integration/generate-sdl/src/main/kotlin/com/example/Application.kt
  plugins/graphql-kotlin-maven-plugin/src/integration/generate-sdl/src/main/kotlin/com/example/SimpleQuery.kt
  plugins/graphql-kotlin-maven-plugin/src/integration/generate-sdl/src/main/resources/application.yml
  plugins/graphql-kotlin-maven-plugin/src/integration/generate-sdl/src/test/kotlin/com/expediagroup/graphql/plugin/maven/GenerateSDLMojoTest.kt
  plugins/graphql-kotlin-maven-plugin/src/main/kotlin/com/expediagroup/graphql/plugin/maven/GenerateSDLMojo.kt
  website/sidebars.json
Labels: changes: minor, module: plugins

#996 [build] specify timeouts for GH workflows
  .github/workflows/continuous-integration.yml
  .github/workflows/pr-check-docs.yml
  .github/workflows/pr-check.yml
  .github/workflows/publish-latest-docs.yml
  .github/workflows/release-code.yml
  .github/workflows/release-docs.yml
Labels: type: tool update

#998 [build] fix GH action timeouts
  .github/workflows/continuous-integration.yml
  .github/workflows/pr-check-docs.yml
  .github/workflows/pr-check.yml
  .github/workflows/publish-latest-docs.yml
  .github/workflows/release-code.yml
  .github/workflows/release-docs.yml
Labels: type: tool update

#995 [build] update Gradle wrapper to 6.8
  examples/gradle/wrapper/gradle-wrapper.properties
  gradle/wrapper/gradle-wrapper.properties
Labels: type: tool update

#1006 [client] move GraphQLKotlinClient implementations to specific packages
  clients/graphql-kotlin-client/src/main/kotlin/GraphQLClient.kt
  clients/graphql-kotlin-client/src/main/kotlin/converter/ScalarConverter.kt
  clients/graphql-kotlin-ktor-client/src/main/kotlin/GraphQLKtorClient.kt
  clients/graphql-kotlin-ktor-client/src/test/kotlin/GraphQLKtorClientTest.kt
  clients/graphql-kotlin-spring-client/src/main/kotlin/GraphQLWebClient.kt
  clients/graphql-kotlin-spring-client/src/test/kotlin/GraphQLWebClientTest.kt
  docs/client/client-customization.md
  docs/client/client-features.md
  docs/client/client-overview.md
  plugins/client/graphql-kotlin-client-generator/src/main/kotlin/com/expediagroup/graphql/plugin/client/generator/GraphQLClientGenerator.kt
  plugins/client/graphql-kotlin-client-generator/src/test/kotlin/com/expediagroup/graphql/plugin/client/generator/types/GenerateGraphQLClientIT.kt
  plugins/graphql-kotlin-gradle-plugin/src/test/resources/templates/Application.mustache
  plugins/graphql-kotlin-gradle-plugin/src/test/resources/templates/JUnit.mustache
  plugins/graphql-kotlin-maven-plugin/src/integration/basic-setup/src/test/kotlin/com/expediagroup/graphql/plugin/maven/GraphQLMavenPluginTest.kt
  plugins/graphql-kotlin-maven-plugin/src/integration/complete-setup/src/test/kotlin/com/expediagroup/graphql/plugin/maven/GraphQLMavenPluginTest.kt
Labels: changes: major, module: clients

#1011 [build] enable GH action to upload build reports on failure
  .github/workflows/pr-check.yml
  plugins/graphql-kotlin-gradle-plugin/src/test/kotlin/com/expediagroup/graphql/plugin/gradle/GraphQLGradlePluginIT.kt
  plugins/graphql-kotlin-gradle-plugin/src/test/kotlin/com/expediagroup/graphql/plugin/gradle/tasks/GraphQLDownloadSDLTaskIT.kt
  plugins/graphql-kotlin-gradle-plugin/src/test/kotlin/com/expediagroup/graphql/plugin/gradle/tasks/GraphQLGenerateClientTaskIT.kt
  plugins/graphql-kotlin-gradle-plugin/src/test/kotlin/com/expediagroup/graphql/plugin/gradle/tasks/GraphQLGenerateSDLTaskIT.kt
  plugins/graphql-kotlin-gradle-plugin/src/test/kotlin/com/expediagroup/graphql/plugin/gradle/tasks/GraphQLIntrospectSchemaTaskIT.kt
Labels: type: tool update

#1012 Update simple subscription test to use single client
  examples/server/spring-server/src/test/kotlin/com/expediagroup/graphql/examples/subscriptions/SimpleSubscriptionIT.kt
Labels: module: examples

#1013 [build] upload failure reports on CI and release workflows
  .github/workflows/continuous-integration.yml
  .github/workflows/pr-check.yml
  .github/workflows/release-code.yml
Labels: type: tool update

#1015 Update example subscription tests
  examples/server/spring-server/src/main/kotlin/com/expediagroup/graphql/examples/server/spring/context/MyGraphQLContext.kt
  examples/server/spring-server/src/main/kotlin/com/expediagroup/graphql/examples/server/spring/context/MyGraphQLContextFactory.kt
  examples/server/spring-server/src/main/kotlin/com/expediagroup/graphql/examples/server/spring/directives/CustomDirectiveWiringFactory.kt
  examples/server/spring-server/src/main/kotlin/com/expediagroup/graphql/examples/server/spring/directives/LowercaseDirective.kt
  examples/server/spring-server/src/main/kotlin/com/expediagroup/graphql/examples/server/spring/directives/LowercaseSchemaDirectiveWiring.kt
  examples/server/spring-server/src/main/kotlin/com/expediagroup/graphql/examples/server/spring/directives/SpecificValueOnly.kt
  examples/server/spring-server/src/main/kotlin/com/expediagroup/graphql/examples/server/spring/directives/SpecificValueOnlySchemaDirectiveWiring.kt
  examples/server/spring-server/src/main/kotlin/com/expediagroup/graphql/examples/server/spring/directives/StringEval.kt
  examples/server/spring-server/src/main/kotlin/com/expediagroup/graphql/examples/server/spring/directives/StringEvalSchemaDirectiveWiring.kt
  examples/server/spring-server/src/main/kotlin/com/expediagroup/graphql/examples/server/spring/directives/TrackTimesInvoked.kt
  examples/server/spring-server/src/main/kotlin/com/expediagroup/graphql/examples/server/spring/exceptions/CustomDataFetcherExceptionHandler.kt
  examples/server/spring-server/src/main/kotlin/com/expediagroup/graphql/examples/server/spring/exceptions/ValidationException.kt
  examples/server/spring-server/src/main/kotlin/com/expediagroup/graphql/examples/server/spring/execution/CustomDataFetcherFactoryProvider.kt
  examples/server/spring-server/src/main/kotlin/com/expediagroup/graphql/examples/server/spring/execution/CustomFunctionDataFetcher.kt
  examples/server/spring-server/src/main/kotlin/com/expediagroup/graphql/examples/server/spring/execution/SpringDataFetcherFactory.kt
  examples/server/spring-server/src/main/kotlin/com/expediagroup/graphql/examples/server/spring/hooks/CustomSchemaGeneratorHooks.kt
  examples/server/spring-server/src/main/kotlin/com/expediagroup/graphql/examples/server/spring/model/Animal.kt
  examples/server/spring-server/src/main/kotlin/com/expediagroup/graphql/examples/server/spring/model/ContextualResponse.kt
  examples/server/spring-server/src/main/kotlin/com/expediagroup/graphql/examples/server/spring/model/DataLoaderQueryModel.kt
  examples/server/spring-server/src/main/kotlin/com/expediagroup/graphql/examples/server/spring/model/Fruit.kt
  examples/server/spring-server/src/main/kotlin/com/expediagroup/graphql/examples/server/spring/model/HidesInheritance.kt
  examples/server/spring-server/src/main/kotlin/com/expediagroup/graphql/examples/server/spring/model/Node.kt
  examples/server/spring-server/src/main/kotlin/com/expediagroup/graphql/examples/server/spring/model/Selection.kt
  examples/server/spring-server/src/main/kotlin/com/expediagroup/graphql/examples/server/spring/model/UnionModel.kt
  examples/server/spring-server/src/main/kotlin/com/expediagroup/graphql/examples/server/spring/model/Widget.kt
  examples/server/spring-server/src/main/kotlin/com/expediagroup/graphql/examples/server/spring/mutation/OptionalInputMutation.kt
  examples/server/spring-server/src/main/kotlin/com/expediagroup/graphql/examples/server/spring/mutation/SimpleMutation.kt
  examples/server/spring-server/src/main/kotlin/com/expediagroup/graphql/examples/server/spring/query/AsyncQuery.kt
  examples/server/spring-server/src/main/kotlin/com/expediagroup/graphql/examples/server/spring/query/CoroutineQuery.kt
  examples/server/spring-server/src/main/kotlin/com/expediagroup/graphql/examples/server/spring/query/DataAndErrorsQuery.kt
  examples/server/spring-server/src/main/kotlin/com/expediagroup/graphql/examples/server/spring/query/EnvironmentQuery.kt
  examples/server/spring-server/src/main/kotlin/com/expediagroup/graphql/examples/server/spring/query/NestedQueries.kt
  examples/server/spring-server/src/main/kotlin/com/expediagroup/graphql/examples/server/spring/query/ScalarQuery.kt
  examples/server/spring-server/src/main/kotlin/com/expediagroup/graphql/examples/server/spring/query/SubQueries.kt
  examples/server/spring-server/src/main/kotlin/com/expediagroup/graphql/examples/server/spring/query/TopLevelBeanFactoryQuery.kt
  examples/server/spring-server/src/test/kotlin/com/expediagroup/graphql/examples/server/spring/IntegrationTestConstants.kt
  examples/server/spring-server/src/test/kotlin/com/expediagroup/graphql/examples/server/spring/WebTestClientExtensions.kt
  examples/server/spring-server/src/test/kotlin/com/expediagroup/graphql/examples/server/spring/subscriptions/SimpleSubscriptionIT.kt
  generator/graphql-kotlin-schema-generator/src/test/kotlin/com/expediagroup/graphql/generator/internal/types/TypeTestHelper.kt
  servers/graphql-kotlin-spring-server/src/test/kotlin/com/expediagroup/graphql/server/spring/subscriptions/SubscriptionWebSocketHandlerIT.kt
Labels: module: examples

#1016 [examples] use proper junit5 method order
  examples/server/spring-server/src/test/kotlin/com/expediagroup/graphql/examples/server/spring/subscriptions/SimpleSubscriptionIT.kt
Labels: module: examples

#1017 Add note on interface as arguments
  docs/schema-generator/writing-schemas/interfaces.md
  docs/schema-generator/writing-schemas/unions.md
Labels: type: documentation

#1018 [generator] create Kotlin PropertyDataFetcher
  docs/schema-generator/execution/fetching-data.md
  generator/graphql-kotlin-schema-generator/src/main/kotlin/com/expediagroup/graphql/generator/execution/KotlinDataFetcherFactoryProvider.kt
  generator/graphql-kotlin-schema-generator/src/main/kotlin/com/expediagroup/graphql/generator/execution/PropertyDataFetcher.kt
  generator/graphql-kotlin-schema-generator/src/test/kotlin/com/expediagroup/graphql/generator/execution/PropertyDataFetcherTest.kt
  generator/graphql-kotlin-schema-generator/src/test/kotlin/com/expediagroup/graphql/generator/internal/types/GeneratePropertyTest.kt
Labels: changes: patch, module: generator

#1007 [build] update to Kotlin 1.4, Spring Boot 2.4.2 and Ktor 1.5
  build.gradle.kts
  clients/graphql-kotlin-ktor-client/build.gradle.kts
  clients/graphql-kotlin-spring-client/src/test/kotlin/com/expediagroup/graphql/client/spring/GraphQLWebClientTest.kt
  docs/client/client-customization.md
  examples/build.gradle.kts
  examples/server/ktor-server/build.gradle.kts
  examples/server/ktor-server/gradle.properties
  examples/server/spring-server/src/test/kotlin/com/expediagroup/graphql/examples/server/spring/subscriptions/SimpleSubscriptionIT.kt
  generator/graphql-kotlin-federation/build.gradle.kts
  generator/graphql-kotlin-schema-generator/build.gradle.kts
  gradle.properties
  plugins/client/graphql-kotlin-client-generator/build.gradle.kts
  plugins/graphql-kotlin-gradle-plugin/src/test/kotlin/com/expediagroup/graphql/plugin/gradle/GraphQLGradlePluginAbstractIT.kt
  servers/graphql-kotlin-spring-server/build.gradle.kts
  servers/graphql-kotlin-spring-server/src/main/kotlin/com/expediagroup/graphql/server/spring/subscriptions/SpringGraphQLSubscriptionHandler.kt
Labels: type: dependency changes

#1025 [build] include client examples as part of the examples build
  examples/client/README.md
  examples/client/build.gradle.kts
  examples/client/gradle-client/README.md
  examples/client/gradle-client/build.gradle.kts
  examples/client/gradle-client/gradle/wrapper/gradle-wrapper.jar
  examples/client/gradle-client/gradle/wrapper/gradle-wrapper.properties
  examples/client/gradle-client/gradlew
  examples/client/gradle-client/gradlew.bat
  examples/client/gradle-client/src/main/kotlin/com/expediagroup/graphql/examples/client/UUIDScalarConverter.kt
  examples/client/gradle-client/src/main/kotlin/com/expediagroup/graphql/examples/client/gradle/Application.kt
  examples/client/gradle-client/src/main/kotlin/com/expediagroup/graphql/examples/client/gradle/UUIDScalarConverter.kt
  examples/client/maven-client/README.md
  examples/client/maven-client/build.gradle.kts
  examples/client/maven-client/pom.xml
  examples/client/maven-client/src/main/kotlin/com/expediagroup/graphql/examples/client/UUIDScalarConverter.kt
  examples/client/maven-client/src/main/kotlin/com/expediagroup/graphql/examples/client/maven/Application.kt
  examples/client/maven-client/src/main/kotlin/com/expediagroup/graphql/examples/client/maven/UUIDScalarConverter.kt
  examples/client/server/README.md
  examples/client/server/build.gradle.kts
  examples/client/server/gradle/wrapper/gradle-wrapper.jar
  examples/client/server/gradle/wrapper/gradle-wrapper.properties
  examples/client/server/gradlew
  examples/client/server/gradlew.bat
  examples/client/server/src/main/kotlin/com/expediagroup/graphql/examples/SimpleMutations.kt
  examples/client/server/src/main/kotlin/com/expediagroup/graphql/examples/client/server/Application.kt
  examples/client/server/src/main/kotlin/com/expediagroup/graphql/examples/client/server/SimpleMutations.kt
  examples/client/server/src/main/kotlin/com/expediagroup/graphql/examples/client/server/SimpleQueries.kt
  examples/client/server/src/main/kotlin/com/expediagroup/graphql/examples/client/server/model/BasicInterface.kt
  examples/client/server/src/main/kotlin/com/expediagroup/graphql/examples/client/server/model/BasicUnion.kt
  examples/client/server/src/main/kotlin/com/expediagroup/graphql/examples/client/server/model/CustomEnum.kt
  examples/client/server/src/main/kotlin/com/expediagroup/graphql/examples/client/server/model/NestedObject.kt
  examples/client/server/src/main/kotlin/com/expediagroup/graphql/examples/client/server/model/ScalarWrapper.kt
  examples/client/server/src/main/kotlin/com/expediagroup/graphql/examples/client/server/model/SimpleArgument.kt
  examples/client/server/src/main/kotlin/com/expediagroup/graphql/examples/client/server/repository/BasicObjectRepository.kt
  examples/client/server/src/main/kotlin/com/expediagroup/graphql/examples/model/BasicUnion.kt
  examples/client/server/src/main/kotlin/com/expediagroup/graphql/examples/model/CustomEnum.kt
  examples/client/server/src/main/kotlin/com/expediagroup/graphql/examples/model/NestedObject.kt
  examples/client/server/src/main/kotlin/com/expediagroup/graphql/examples/model/SimpleArgument.kt
  examples/client/src/integration/wiremock/__files/schema.graphql
  examples/client/src/integration/wiremock/mappings/sdl.json
  examples/gradle.properties
  examples/settings.gradle.kts
Labels: module: examples, type: tool update

#1028 [plugin] updates to Gradle plugin tasks configuration avoidance
  docs/client/client-customization.md
  docs/client/client-overview.md
  docs/plugins/gradle-plugin-tasks.md
  docs/plugins/gradle-plugin-usage.md
  docs/plugins/maven-plugin-goals.md
  docs/plugins/maven-plugin-usage.md
  generator/graphql-kotlin-federation/build.gradle.kts
  plugins/graphql-kotlin-gradle-plugin/README.md
  plugins/graphql-kotlin-gradle-plugin/src/main/kotlin/com/expediagroup/graphql/plugin/gradle/GraphQLGradlePlugin.kt
  plugins/graphql-kotlin-gradle-plugin/src/main/kotlin/com/expediagroup/graphql/plugin/gradle/GraphQLPluginExtension.kt
  plugins/graphql-kotlin-gradle-plugin/src/main/kotlin/com/expediagroup/graphql/plugin/gradle/tasks/GraphQLGenerateClientTask.kt
  plugins/graphql-kotlin-gradle-plugin/src/main/kotlin/com/expediagroup/graphql/plugin/gradle/tasks/GraphQLGenerateSDLTask.kt
  plugins/graphql-kotlin-gradle-plugin/src/main/kotlin/com/expediagroup/graphql/plugin/gradle/tasks/GraphQLGenerateTestClientTask.kt
  plugins/graphql-kotlin-gradle-plugin/src/test/kotlin/com/expediagroup/graphql/plugin/gradle/GraphQLGradlePluginAbstractIT.kt
  plugins/graphql-kotlin-gradle-plugin/src/test/kotlin/com/expediagroup/graphql/plugin/gradle/GraphQLGradlePluginIT.kt
  plugins/graphql-kotlin-gradle-plugin/src/test/kotlin/com/expediagroup/graphql/plugin/gradle/tasks/GraphQLGenerateClientTaskIT.kt
  plugins/graphql-kotlin-gradle-plugin/src/test/kotlin/com/expediagroup/graphql/plugin/gradle/tasks/GraphQLGenerateSDLTaskIT.kt
  website/sidebars.json
Labels: changes: patch, module: plugin

#1032 Add tests to show use of completable future wrappers
  generator/graphql-kotlin-schema-generator/src/test/kotlin/com/expediagroup/graphql/generator/test/integration/CompletableFutureTest.kt
Labels: module: generator, type: documentation
