Repository ExpediaGroup/graphql-kotlin, pull requests merged in 2021-04, with the labels that each got.

#1108 fix hooks provider docs and remove unnecessary suppressions
  plugins/graphql-kotlin-maven-plugin/src/main/kotlin/com/expediagroup/graphql/plugin/maven/DownloadSDLMojo.kt
  plugins/graphql-kotlin-maven-plugin/src/main/kotlin/com/expediagroup/graphql/plugin/maven/GenerateClientAbstractMojo.kt
  plugins/graphql-kotlin-maven-plugin/src/main/kotlin/com/expediagroup/graphql/plugin/maven/IntrospectSchemaMojo.kt
  plugins/schema/graphql-kotlin-hooks-provider/README.md
  website/docs/plugins/gradle-plugin-usage.mdx
  website/docs/plugins/hooks-provider.mdx
  website/docs/plugins/maven-plugin-usage.md
Labels: type: documentation

#1111 Add docs for set support
  examples/server/spring-server/src/main/kotlin/com/expediagroup/graphql/examples/server/spring/hooks/CustomSchemaGeneratorHooks.kt
  examples/server/spring-server/src/main/kotlin/com/expediagroup/graphql/examples/server/spring/query/SimpleQuery.kt
  website/docs/schema-generator/writing-schemas/lists.md
Labels: type: documentation

#1112 Call hooks for return type on properties
  examples/server/spring-server/src/main/kotlin/com/expediagroup/graphql/examples/server/spring/model/DataLoaderQueryModel.kt
  examples/server/spring-server/src/main/kotlin/com/expediagroup/graphql/examples/server/spring/query/DataLoaderQuery.kt
  examples/server/spring-server/src/main/kotlin/com/expediagroup/graphql/examples/server/spring/query/SimpleQuery.kt
  generator/graphql-kotlin-schema-generator/src/main/kotlin/com/expediagroup/graphql/generator/hooks/SchemaGeneratorHooks.kt
  generator/graphql-kotlin-schema-generator/src/main/kotlin/com/expediagroup/graphql/generator/internal/types/generateProperty.kt
  generator/graphql-kotlin-schema-generator/src/test/kotlin/com/expediagroup/graphql/generator/internal/types/GeneratePropertyTest.kt
Labels: changes: minor, module: generator, type: enhancement

#1113 Update the docs with general changes
  RELEASING.md
  generator/graphql-kotlin-federation/README.md
  generator/graphql-kotlin-schema-generator/README.md
  servers/graphql-kotlin-server/src/main/kotlin/com/expediagroup/graphql/server/extensions/dataFetchingEnvironmentExtensions.kt
  servers/graphql-kotlin-spring-server/README.md
  website/docs/assets/spring-initializer.png
  website/docs/getting-started.mdx
  website/docs/schema-generator/customizing-schemas/advanced-features.md
  website/docs/schema-generator/execution/contextual-data.md
  website/docs/schema-generator/federation/apollo-federation.mdx
  website/docs/schema-generator/schema-generator-getting-started.mdx
  website/docs/server/spring-server/spring-beans.md
  website/docs/server/spring-server/spring-http-request-response.md
  website/docs/server/spring-server/spring-overview.mdx
  website/docs/server/spring-server/spring-properties.md
  website/docs/server/spring-server/spring-schema.md
  website/sidebars.json
  website/versioned_docs/version-3.x.x/contributors/release-proc.md
  website/versioned_docs/version-3.x.x/federated/apollo-federation.md
  website/versioned_docs/version-3.x.x/getting-started.md
  website/versioned_docs/version-3.x.x/schema-generator/execution/subscriptions.md
  website/versioned_docs/version-3.x.x/schema-generator/schema-generator-getting-started.md
  website/versioned_docs/version-3.x.x/spring-server/spring-overview.md
  website/versioned_docs/version-3.x.x/spring-server/spring-schema.md
Labels: type: documentation

#1115 [client] support selection of multiple enums
  plugins/client/graphql-kotlin-client-generator/src/main/kotlin/com/expediagroup/graphql/plugin/client/generator/types/generateGraphQLObjectTypeSpec.kt
  plugins/client/graphql-kotlin-client-generator/src/test/data/jackson/enums/EnumQuery.graphql
  plugins/client/graphql-kotlin-client-generator/src/test/data/jackson/enums/EnumQuery.kt
  plugins/client/graphql-kotlin-client-generator/src/test/data/jackson/enums/enums/OtherEnum.kt
  plugins/client/graphql-kotlin-client-generator/src/test/data/kotlinx/enums/EnumQuery.graphql
  plugins/client/graphql-kotlin-client-generator/src/test/data/kotlinx/enums/EnumQuery.kt
  plugins/client/graphql-kotlin-client-generator/src/test/data/kotlinx/enums/enums/OtherEnum.kt
  plugins/client/graphql-kotlin-client-generator/src/test/data/kotlinx/multiple_queries/FirstQuery.kt
  plugins/client/graphql-kotlin-client-generator/src/test/data/kotlinx/multiple_queries/SecondQuery.kt
  plugins/client/graphql-kotlin-client-generator/src/test/resources/testSchema.graphql
Labels: changes: patch, module: client, type: bug

#1120 update FlowSubscriptionExecutionStrategy to support flow natively
  generator/graphql-kotlin-schema-generator/src/main/kotlin/com/expediagroup/graphql/generator/execution/FlowSubscriptionExecutionStrategy.kt
  generator/graphql-kotlin-schema-generator/src/test/kotlin/com/expediagroup/graphql/generator/execution/FlowSubscriptionExecutionStrategyTest.kt
  servers/graphql-kotlin-spring-server/src/main/kotlin/com/expediagroup/graphql/server/spring/subscriptions/ApolloSubscriptionProtocolHandler.kt
  servers/graphql-kotlin-spring-server/src/main/kotlin/com/expediagroup/graphql/server/spring/subscriptions/SpringGraphQLSubscriptionHandler.kt
  servers/graphql-kotlin-spring-server/src/test/kotlin/com/expediagroup/graphql/server/spring/SubscriptionConfigurationTest.kt
  servers/graphql-kotlin-spring-server/src/test/kotlin/com/expediagroup/graphql/server/spring/execution/SpringGraphQLSubscriptionHandlerTest.kt
  servers/graphql-kotlin-spring-server/src/test/kotlin/com/expediagroup/graphql/server/spring/subscriptions/ApolloSubscriptionProtocolHandlerTest.kt
Labels: changes: major, module: generator, module: server

#1121 [docs] fix subscription docs and formatting
  website/docs/client/client-features.mdx
  website/docs/graphql-java-comparison.md
  website/docs/plugins/gradle-plugin-tasks.mdx
  website/docs/plugins/gradle-plugin-usage.mdx
  website/docs/plugins/maven-plugin-goals.md
  website/docs/plugins/maven-plugin-usage.md
  website/docs/schema-generator/customizing-schemas/advanced-features.md
  website/docs/schema-generator/customizing-schemas/deprecating-schema.md
  website/docs/schema-generator/customizing-schemas/directives.md
  website/docs/schema-generator/customizing-schemas/documenting-fields.md
  website/docs/schema-generator/customizing-schemas/excluding-fields.md
  website/docs/schema-generator/customizing-schemas/generator-config.md
  website/docs/schema-generator/customizing-schemas/renaming-fields.md
  website/docs/schema-generator/execution/async-models.md
  website/docs/schema-generator/execution/data-fetching-environment.md
  website/docs/schema-generator/execution/exceptions.md
  website/docs/schema-generator/execution/fetching-data.md
  website/docs/schema-generator/execution/introspection.md
  website/docs/schema-generator/execution/optional-undefined-arguments.md
  website/docs/schema-generator/execution/subscriptions.md
  website/docs/schema-generator/federation/apollo-federation.mdx
  website/docs/schema-generator/federation/federated-directives.md
  website/docs/schema-generator/federation/federated-schemas.md
  website/docs/schema-generator/federation/type-resolution.md
  website/docs/schema-generator/writing-schemas/arguments.md
  website/docs/schema-generator/writing-schemas/enums.md
  website/docs/schema-generator/writing-schemas/interfaces.md
  website/docs/schema-generator/writing-schemas/lists.md
  website/docs/schema-generator/writing-schemas/nested-arguments.md
  website/docs/schema-generator/writing-schemas/nullability.md
  website/docs/schema-generator/writing-schemas/scalars.md
  website/docs/schema-generator/writing-schemas/unions.md
  website/docs/server/data-loaders.md
  website/docs/server/graphql-context-factory.md
  website/docs/server/spring-server/spring-schema.md
Labels: type: documentation

#1124 [plugin] fix compile dependency of test client
  examples/client/gradle-client/settings.gradle.kts
  plugins/graphql-kotlin-gradle-plugin/src/main/kotlin/com/expediagroup/graphql/plugin/gradle/tasks/AbstractGenerateClientTask.kt
  plugins/graphql-kotlin-gradle-plugin/src/main/kotlin/com/expediagroup/graphql/plugin/gradle/tasks/GraphQLGenerateClientTask.kt
  plugins/graphql-kotlin-gradle-plugin/src/main/kotlin/com/expediagroup/graphql/plugin/gradle/tasks/GraphQLGenerateTestClientTask.kt
  plugins/graphql-kotlin-gradle-plugin/src/test/kotlin/com/expediagroup/graphql/plugin/gradle/GraphQLGradlePluginAbstractIT.kt
  plugins/graphql-kotlin-gradle-plugin/src/test/kotlin/com/expediagroup/graphql/plugin/gradle/tasks/GraphQLGenerateClientTaskIT.kt
  website/docs/plugins/gradle-plugin-usage.mdx
Labels: changes: patch, module: plugin, type: bug

#1132 Add valid locations annotation
  generator/graphql-kotlin-schema-generator/src/main/kotlin/com/expediagroup/graphql/generator/annotations/GraphQLValidObjectLocations.kt
  generator/graphql-kotlin-schema-generator/src/main/kotlin/com/expediagroup/graphql/generator/exceptions/InvalidObjectLocationException.kt
  generator/graphql-kotlin-schema-generator/src/main/kotlin/com/expediagroup/graphql/generator/internal/types/generateInputObject.kt
  generator/graphql-kotlin-schema-generator/src/main/kotlin/com/expediagroup/graphql/generator/internal/types/generateObject.kt
  generator/graphql-kotlin-schema-generator/src/main/kotlin/com/expediagroup/graphql/generator/internal/types/utils/validateObjectLocation.kt
  generator/graphql-kotlin-schema-generator/src/test/kotlin/com/expediagroup/graphql/generator/internal/types/GenerateInputObjectTest.kt
  generator/graphql-kotlin-schema-generator/src/test/kotlin/com/expediagroup/graphql/generator/internal/types/GenerateObjectTest.kt
  generator/graphql-kotlin-schema-generator/src/test/kotlin/com/expediagroup/graphql/generator/internal/types/utils/ValidateObjectLocationKtTest.kt
  website/docs/schema-generator/customizing-schemas/restricting-input-output.md
  website/sidebars.json
Labels: changes: minor, module: generator, type: enhancement

#1133 Update framework comparison docs
  website/docs/framework-comparison.md
  website/sidebars.json
  website/versioned_sidebars/version-4.x.x-sidebars.json
Labels: type: documentation
