Repository ExpediaGroup/graphql-kotlin, pull requests merged in 2022-04, with the labels that each got.

#1406 [docs] fix gradle plugin tasks example
  website/docs/plugins/gradle-plugin-tasks.mdx
Labels: type: documentation

#1413 [build] update dependencies
  clients/graphql-kotlin-client-jackson/src/test/kotlin/com/expediagroup/graphql/client/jackson/GraphQLClientJacksonSerializerTest.kt
  clients/graphql-kotlin-client-serialization/src/test/kotlin/com/expediagroup/graphql/client/serialization/GraphQLClientKotlinXSerializerTest.kt
  clients/graphql-kotlin-client-serialization/src/test/kotlin/com/expediagroup/graphql/client/serialization/serializers/AnyKSerializerTest.kt
  clients/graphql-kotlin-client-serialization/src/test/kotlin/com/expediagroup/graphql/client/serialization/serializers/GraphQLErrorPathSerializerTest.kt
  clients/graphql-kotlin-ktor-client/src/main/kotlin/com/expediagroup/graphql/client/ktor/GraphQLKtorClient.kt
  clients/graphql-kotlin-ktor-client/src/test/kotlin/com/expediagroup/graphql/client/ktor/GraphQLKtorClientTest.kt
  examples/client/gradle-client/src/main/kotlin/com/expediagroup/graphql/examples/client/gradle/Application.kt
  examples/server/ktor-server/src/main/kotlin/com/expediagroup/graphql/examples/server/ktor/GraphQLModule.kt
  examples/server/ktor-server/src/main/kotlin/com/expediagroup/graphql/examples/server/ktor/KtorGraphQLContextFactory.kt
  examples/server/ktor-server/src/main/kotlin/com/expediagroup/graphql/examples/server/ktor/KtorGraphQLRequestParser.kt
  examples/server/ktor-server/src/main/kotlin/com/expediagroup/graphql/examples/server/ktor/KtorGraphQLServer.kt
  examples/server/ktor-server/src/main/kotlin/com/expediagroup/graphql/examples/server/ktor/KtorServer.kt
  gradle.properties
  plugins/client/graphql-kotlin-client-generator/build.gradle.kts
  plugins/client/graphql-kotlin-client-generator/src/main/kotlin/com/expediagroup/graphql/plugin/client/downloadSchema.kt
  plugins/client/graphql-kotlin-client-generator/src/main/kotlin/com/expediagroup/graphql/plugin/client/generator/types/generateJacksonOptionalInputScalarSerializer.kt
  plugins/client/graphql-kotlin-client-generator/src/main/kotlin/com/expediagroup/graphql/plugin/client/generator/types/generateKotlinxOptionalInputSerializer.kt
  plugins/client/graphql-kotlin-client-generator/src/main/kotlin/com/expediagroup/graphql/plugin/client/introspectSchema.kt
  plugins/client/graphql-kotlin-client-generator/src/test/kotlin/com/expediagroup/graphql/plugin/client/DownloadSchemaTest.kt
  plugins/client/graphql-kotlin-client-generator/src/test/kotlin/com/expediagroup/graphql/plugin/client/IntrospectSchemaTest.kt
  plugins/graphql-kotlin-gradle-plugin/src/integration/client-generator/custom_scalars_kotlinx/build.gradle.kts
  plugins/graphql-kotlin-gradle-plugin/src/integration/client-generator/custom_scalars_kotlinx/src/main/kotlin/com/expediagroup/scalars/Application.kt
  plugins/graphql-kotlin-gradle-plugin/src/integration/client-generator/custom_scalars_kotlinx/src/main/kotlin/com/expediagroup/scalars/KtorGraphQLServer.kt
  plugins/graphql-kotlin-gradle-plugin/src/integration/client-generator/custom_scalars_kotlinx/src/test/kotlin/com/expediagroup/scalars/CustomScalarKotlinxTests.kt
  plugins/graphql-kotlin-gradle-plugin/src/integration/client-generator/polymorphic_types_kotlinx/build.gradle.kts
  plugins/graphql-kotlin-gradle-plugin/src/integration/client-generator/polymorphic_types_kotlinx/src/main/kotlin/com/expediagroup/polymorphic/Application.kt
  plugins/graphql-kotlin-gradle-plugin/src/integration/client-generator/polymorphic_types_kotlinx/src/main/kotlin/com/expediagroup/polymorphic/KtorGraphQLServer.kt
  plugins/graphql-kotlin-gradle-plugin/src/integration/client-generator/polymorphic_types_kotlinx/src/test/kotlin/com/expediagroup/polymorphic/PolymorphicKotlinxTests.kt
  plugins/graphql-kotlin-gradle-plugin/src/test/resources/templates/Application.mustache
Labels: type: dependency changes

#1415 feat: graphql-kotlin-dataloader
  examples/server/ktor-server/src/main/kotlin/com/expediagroup/graphql/examples/server/ktor/KtorDataLoaderRegistryFactory.kt
  examples/server/ktor-server/src/main/kotlin/com/expediagroup/graphql/examples/server/ktor/schema/dataloaders/BookDataLoader.kt
  examples/server/ktor-server/src/main/kotlin/com/expediagroup/graphql/examples/server/ktor/schema/dataloaders/CourseDataLoader.kt
  examples/server/ktor-server/src/main/kotlin/com/expediagroup/graphql/examples/server/ktor/schema/dataloaders/UniversityDataLoader.kt
  examples/server/spring-server/src/main/kotlin/com/expediagroup/graphql/examples/server/spring/dataloaders/CompanyDataLoader.kt
  executions/graphql-kotlin-dataloader/README.md
  executions/graphql-kotlin-dataloader/build.gradle.kts
  executions/graphql-kotlin-dataloader/src/main/kotlin/com/expediagroup/graphql/dataloader/DataLoaderRegistryFactory.kt
  executions/graphql-kotlin-dataloader/src/main/kotlin/com/expediagroup/graphql/dataloader/KotlinDataLoader.kt
  executions/graphql-kotlin-dataloader/src/main/kotlin/com/expediagroup/graphql/dataloader/KotlinDataLoaderRegistry.kt
  executions/graphql-kotlin-dataloader/src/main/kotlin/com/expediagroup/graphql/dataloader/KotlinDataLoaderRegistryFactory.kt
  executions/graphql-kotlin-dataloader/src/main/kotlin/com/expediagroup/graphql/dataloader/KotlinDefaultCacheMap.kt
  executions/graphql-kotlin-dataloader/src/test/kotlin/com/expediagroup/graphql/dataloader/KotlinDataLoaderRegistryFactoryTest.kt
  executions/graphql-kotlin-dataloader/src/test/kotlin/com/expediagroup/graphql/dataloader/KotlinDataLoaderRegistryTest.kt
  executions/graphql-kotlin-transaction-loader-instrumentation/build.gradle.kts
  executions/graphql-kotlin-transaction-loader-instrumentation/src/main/kotlin/com/expediagroup/graphql/transactionbatcher/instrumentation/extensions/DataFetchingEnvironmentExtensions.kt
  executions/graphql-kotlin-transaction-loader-instrumentation/src/main/kotlin/com/expediagroup/graphql/transactionbatcher/instrumentation/level/TransactionLoaderLevelInstrumentation.kt
  executions/graphql-kotlin-transaction-loader-instrumentation/src/test/kotlin/com/expediagroup/graphql/transactionbatcher/instrumentation/datafetcher/AstronautService.kt
  executions/graphql-kotlin-transaction-loader-instrumentation/src/test/kotlin/com/expediagroup/graphql/transactionbatcher/instrumentation/datafetcher/MissionService.kt
  executions/graphql-kotlin-transaction-loader-instrumentation/src/test/kotlin/com/expediagroup/graphql/transactionbatcher/instrumentation/level/TransactionLoaderLevelInstrumentationTest.kt
  gradle.properties
  servers/graphql-kotlin-server/build.gradle.kts
  servers/graphql-kotlin-server/src/main/kotlin/com/expediagroup/graphql/server/execution/GraphQLRequestHandler.kt
  servers/graphql-kotlin-spring-server/src/main/kotlin/com/expediagroup/graphql/server/spring/GraphQLExecutionConfiguration.kt
  servers/graphql-kotlin-spring-server/src/main/kotlin/com/expediagroup/graphql/server/spring/GraphQLSchemaConfiguration.kt
  servers/graphql-kotlin-spring-server/src/main/kotlin/com/expediagroup/graphql/server/spring/SubscriptionAutoConfiguration.kt
  servers/graphql-kotlin-spring-server/src/main/kotlin/com/expediagroup/graphql/server/spring/subscriptions/SpringGraphQLSubscriptionHandler.kt
  servers/graphql-kotlin-spring-server/src/test/kotlin/com/expediagroup/graphql/server/spring/SchemaConfigurationTest.kt
  servers/graphql-kotlin-spring-server/src/test/kotlin/com/expediagroup/graphql/server/spring/execution/SpringGraphQLSubscriptionHandlerTest.kt
  settings.gradle.kts
  website/docs/server/data-loaders.md
Labels: changes: major, module: server

#1431 [generator] support directive array/vararg parameters
  generator/graphql-kotlin-schema-generator/src/main/kotlin/com/expediagroup/graphql/generator/internal/extensions/kClassExtensions.kt
  generator/graphql-kotlin-schema-generator/src/main/kotlin/com/expediagroup/graphql/generator/internal/state/TypesCache.kt
  generator/graphql-kotlin-schema-generator/src/main/kotlin/com/expediagroup/graphql/generator/internal/state/TypesCacheKey.kt
  generator/graphql-kotlin-schema-generator/src/main/kotlin/com/expediagroup/graphql/generator/internal/types/GraphQLKTypeMetadata.kt
  generator/graphql-kotlin-schema-generator/src/main/kotlin/com/expediagroup/graphql/generator/internal/types/generateDirective.kt
  generator/graphql-kotlin-schema-generator/src/main/kotlin/com/expediagroup/graphql/generator/internal/types/generateGraphQLType.kt
  generator/graphql-kotlin-schema-generator/src/test/kotlin/com/expediagroup/graphql/generator/internal/types/GenerateDirectiveTest.kt
  website/docs/schema-generator/customizing-schemas/directives.md
Labels: type: bug, changes: patch, module: generator
