Repository ExpediaGroup/graphql-kotlin, pull requests merged in 2022-03, with the labels that each got.

#1383 Class name in SchemaGeneratorHooksProvider example
  examples/server/spring-server/src/main/resources/META-INF/services/com.expediagroup.graphql.plugin.schema.hooks.SchemaGeneratorHooksProvider
Labels: module: examples

#1385 [generator] add IDValueUnboxer for correctly serializing ID value class
  examples/client/server/src/main/kotlin/com/expediagroup/graphql/examples/client/server/scalars/ULocaleCoercing.kt
  examples/server/ktor-server/src/main/kotlin/com/expediagroup/graphql/examples/server/ktor/ktorGraphQLSchema.kt
  generator/graphql-kotlin-schema-generator/src/main/kotlin/com/expediagroup/graphql/generator/scalars/IDValueUnboxer.kt
  plugins/graphql-kotlin-gradle-plugin/build.gradle.kts
  plugins/graphql-kotlin-gradle-plugin/src/integration/client-generator/custom_scalars_jackson/src/main/kotlin/com/expediagroup/scalars/queries/OptionalWrapper.kt
  plugins/graphql-kotlin-gradle-plugin/src/integration/client-generator/custom_scalars_jackson/src/main/kotlin/com/expediagroup/scalars/queries/ScalarQuery.kt
  plugins/graphql-kotlin-gradle-plugin/src/integration/client-generator/custom_scalars_jackson/src/main/kotlin/com/expediagroup/scalars/types/graphqlLocaleType.kt
  plugins/graphql-kotlin-gradle-plugin/src/integration/client-generator/custom_scalars_jackson/src/test/kotlin/com/expediagroup/scalars/CustomScalarApplicationTests.kt
  plugins/graphql-kotlin-gradle-plugin/src/integration/client-generator/custom_scalars_kotlinx/src/main/kotlin/com/expediagroup/scalars/KtorGraphQLServer.kt
  plugins/graphql-kotlin-gradle-plugin/src/integration/client-generator/custom_scalars_kotlinx/src/main/kotlin/com/expediagroup/scalars/queries/OptionalWrapper.kt
  plugins/graphql-kotlin-gradle-plugin/src/integration/client-generator/custom_scalars_kotlinx/src/main/kotlin/com/expediagroup/scalars/queries/ScalarQuery.kt
  plugins/graphql-kotlin-gradle-plugin/src/integration/client-generator/custom_scalars_kotlinx/src/main/kotlin/com/expediagroup/scalars/types/graphqlLocaleType.kt
  plugins/graphql-kotlin-gradle-plugin/src/integration/client-generator/custom_scalars_kotlinx/src/test/kotlin/com/expediagroup/scalars/CustomScalarKotlinxTests.kt
  servers/graphql-kotlin-spring-server/src/main/kotlin/com/expediagroup/graphql/server/spring/GraphQLSchemaConfiguration.kt
  website/docs/schema-generator/writing-schemas/scalars.md
  website/docs/server/spring-server/spring-beans.md
Labels: type: bug, changes: minor, module: generator

#1378 feat: transaction batcher instrumentation level
  executions/graphql-kotlin-transaction-batcher-instrumentation/README.md
  executions/graphql-kotlin-transaction-batcher-instrumentation/build.gradle.kts
  executions/graphql-kotlin-transaction-batcher-instrumentation/src/main/kotlin/com/expediagroup/graphql/transactionbatcher/instrumentation/TransactionBatcherLevelInstrumentation.kt
  executions/graphql-kotlin-transaction-batcher-instrumentation/src/main/kotlin/com/expediagroup/graphql/transactionbatcher/instrumentation/exceptions/MissingTransactionBatcherException.kt
  executions/graphql-kotlin-transaction-batcher-instrumentation/src/main/kotlin/com/expediagroup/graphql/transactionbatcher/instrumentation/execution/AbstractExecutionLevelInstrumentation.kt
  executions/graphql-kotlin-transaction-batcher-instrumentation/src/main/kotlin/com/expediagroup/graphql/transactionbatcher/instrumentation/execution/ExecutionLevelInstrumentation.kt
  executions/graphql-kotlin-transaction-batcher-instrumentation/src/main/kotlin/com/expediagroup/graphql/transactionbatcher/instrumentation/execution/ExecutionLevelInstrumentationContext.kt
  executions/graphql-kotlin-transaction-batcher-instrumentation/src/main/kotlin/com/expediagroup/graphql/transactionbatcher/instrumentation/execution/ExecutionLevelInstrumentationParameters.kt
  executions/graphql-kotlin-transaction-batcher-instrumentation/src/main/kotlin/com/expediagroup/graphql/transactionbatcher/instrumentation/execution/NoOpExecutionStrategyInstrumentationContext.kt
  executions/graphql-kotlin-transaction-batcher-instrumentation/src/main/kotlin/com/expediagroup/graphql/transactionbatcher/instrumentation/extensions/DataFetchingEnvironmentExtensions.kt
  executions/graphql-kotlin-transaction-batcher-instrumentation/src/main/kotlin/com/expediagroup/graphql/transactionbatcher/instrumentation/extensions/ExecutionContextExtensions.kt
  executions/graphql-kotlin-transaction-batcher-instrumentation/src/main/kotlin/com/expediagroup/graphql/transactionbatcher/instrumentation/extensions/FieldValueInfosExtensions.kt
  executions/graphql-kotlin-transaction-batcher-instrumentation/src/main/kotlin/com/expediagroup/graphql/transactionbatcher/instrumentation/state/ExecutionBatchState.kt
  executions/graphql-kotlin-transaction-batcher-instrumentation/src/main/kotlin/com/expediagroup/graphql/transactionbatcher/instrumentation/state/ExecutionLevelInstrumentationState.kt
  executions/graphql-kotlin-transaction-batcher-instrumentation/src/main/kotlin/com/expediagroup/graphql/transactionbatcher/instrumentation/state/Level.kt
  executions/graphql-kotlin-transaction-batcher-instrumentation/src/main/kotlin/com/expediagroup/graphql/transactionbatcher/instrumentation/state/ManuallyCompletableDataFetcher.kt
  executions/graphql-kotlin-transaction-batcher-instrumentation/src/test/kotlin/com/expediagroup/graphql/transactionbatcher/instrumentation/TransactionBatcherLevelInstrumentationTest.kt
  executions/graphql-kotlin-transaction-batcher-instrumentation/src/test/kotlin/com/expediagroup/graphql/transactionbatcher/instrumentation/datafetcher/AstronautService.kt
  executions/graphql-kotlin-transaction-batcher-instrumentation/src/test/kotlin/com/expediagroup/graphql/transactionbatcher/instrumentation/datafetcher/MissionService.kt
  executions/graphql-kotlin-transaction-batcher-instrumentation/src/test/kotlin/com/expediagroup/graphql/transactionbatcher/instrumentation/datafetcher/NasaService.kt
  executions/graphql-kotlin-transaction-batcher/README.md
  executions/graphql-kotlin-transaction-batcher/src/main/kotlin/com/expediagroup/graphql/transactionbatcher/transaction/TransactionBatcher.kt
  settings.gradle.kts
Labels: type: enhancement, changes: minor

#1387 [examples] update federation gateway example to latest
  examples/federation/gateway/index.js
  examples/federation/gateway/package-lock.json
Labels: type: dependency changes, module: examples

#1390 Optimize CI a bit
  .github/workflows/continuous-integration.yml
  .github/workflows/pr-check-docs.yml
  .github/workflows/pr-check.yml
  .github/workflows/publish-latest-docs.yml
  .github/workflows/release-code.yml
Labels: type: tool update

#1391 [docs] update to latest docusaurus
  .github/workflows/pr-check-docs.yml
  .github/workflows/publish-latest-docs.yml
  website/docusaurus.config.js
  website/package-lock.json
  website/package.json
  website/versioned_docs/version-3.x.x/assets/spring-initializer.png
Labels: type: dependency changes

#1395 [docs] documentation on inline value classes
  examples/server/spring-server/src/main/kotlin/com/expediagroup/graphql/examples/server/spring/Application.kt
  examples/server/spring-server/src/main/kotlin/com/expediagroup/graphql/examples/server/spring/hooks/CustomSchemaGeneratorHooks.kt
  examples/server/spring-server/src/main/kotlin/com/expediagroup/graphql/examples/server/spring/model/CustomScalarInput.kt
  examples/server/spring-server/src/main/kotlin/com/expediagroup/graphql/examples/server/spring/model/MyValueClass.kt
  examples/server/spring-server/src/main/kotlin/com/expediagroup/graphql/examples/server/spring/query/ScalarQuery.kt
  website/docs/schema-generator/writing-schemas/scalars.md
Labels: type: documentation, module: examples
