Repository ExpediaGroup/graphql-kotlin, pull requests merged in 2022-10, with the labels that each got.

#1568 feat: graphQL errors per federated type element in batch
  generator/graphql-kotlin-federation/src/main/kotlin/com/expediagroup/graphql/generator/federation/execution/FederatedTypeResolver.kt
  generator/graphql-kotlin-federation/src/main/kotlin/com/expediagroup/graphql/generator/federation/execution/FederatedTypeSuspendResolver.kt
  generator/graphql-kotlin-federation/src/main/kotlin/com/expediagroup/graphql/generator/federation/execution/resolverexecutor/FederatedTypePromiseResolverExecutor.kt
  generator/graphql-kotlin-federation/src/main/kotlin/com/expediagroup/graphql/generator/federation/execution/resolverexecutor/FederatedTypeSuspendResolverExecutor.kt
  generator/graphql-kotlin-federation/src/test/kotlin/com/expediagroup/graphql/generator/federation/execution/resolverexecutor/FederatedTypePromiseResolverExecutorTest.kt
  generator/graphql-kotlin-federation/src/test/kotlin/com/expediagroup/graphql/generator/federation/execution/resolverexecutor/FederatedTypeSuspendResolverExecutorTest.kt
Labels: changes: minor, module: generator

#1572 [build] update to kotlin 1.7.10
  build.gradle.kts
  clients/graphql-kotlin-client-serialization/build.gradle.kts
  clients/graphql-kotlin-client/build.gradle.kts
  clients/graphql-kotlin-spring-client/build.gradle.kts
  examples/build.gradle.kts
  examples/client/maven-client/build.gradle.kts
  examples/client/maven-client/pom.xml
  examples/server/ktor-server/build.gradle.kts
  executions/graphql-kotlin-dataloader-instrumentation/src/main/kotlin/com/expediagroup/graphql/dataloader/instrumentation/extensions/ExecutionContextExtensions.kt
  executions/graphql-kotlin-dataloader-instrumentation/src/test/kotlin/com/expediagroup/graphql/dataloader/instrumentation/level/DataLoaderLevelDispatchedInstrumentationTest.kt
  executions/graphql-kotlin-dataloader-instrumentation/src/test/kotlin/com/expediagroup/graphql/dataloader/instrumentation/syncexhaustion/DataLoaderSyncExecutionExhaustedInstrumentationTest.kt
  executions/graphql-kotlin-dataloader/build.gradle.kts
  generator/graphql-kotlin-schema-generator/build.gradle.kts
  generator/graphql-kotlin-schema-generator/src/test/kotlin/com/expediagroup/graphql/generator/execution/ConvertArgumentValueTest.kt
  gradle.properties
  plugins/graphql-kotlin-gradle-plugin/build.gradle.kts
  plugins/graphql-kotlin-gradle-plugin/src/integration/android/androidGraphQLClient/app/build.gradle.kts
  plugins/graphql-kotlin-gradle-plugin/src/integration/android/androidGraphQLClient/build.gradle.kts
  plugins/graphql-kotlin-gradle-plugin/src/integration/client-generator/custom_scalars_jackson/build.gradle.kts
  plugins/graphql-kotlin-gradle-plugin/src/integration/client-generator/custom_scalars_kotlinx/build.gradle.kts
  plugins/graphql-kotlin-gradle-plugin/src/integration/client-generator/jacoco/build.gradle.kts
  plugins/graphql-kotlin-gradle-plugin/src/integration/client-generator/polymorphic_types_jackson/build.gradle.kts
  plugins/graphql-kotlin-gradle-plugin/src/integration/client-generator/polymorphic_types_kotlinx/build.gradle.kts
  plugins/graphql-kotlin-gradle-plugin/src/integration/client-generator/skip_include/build.gradle.kts
  plugins/graphql-kotlin-gradle-plugin/src/test/kotlin/com/expediagroup/graphql/plugin/gradle/GraphQLGenerateClientIT.kt
  plugins/graphql-kotlin-gradle-plugin/src/test/kotlin/com/expediagroup/graphql/plugin/gradle/GraphQLGradlePluginAbstractIT.kt
  plugins/graphql-kotlin-gradle-plugin/src/test/kotlin/com/expediagroup/graphql/plugin/gradle/GraphQLGradlePluginAndroidIT.kt
  plugins/graphql-kotlin-maven-plugin/build.gradle.kts
  plugins/graphql-kotlin-maven-plugin/pom.xml
  servers/graphql-kotlin-server/build.gradle.kts
  servers/graphql-kotlin-spring-server/build.gradle.kts
  website/docs/schema-generator/writing-schemas/arguments.md
Labels: type: documentation, type: dependency changes

#1571 ISSUE-1566: Relax federated type validation rules
  generator/graphql-kotlin-federation/src/main/kotlin/com/expediagroup/graphql/generator/federation/validation/FederatedSchemaValidator.kt
  generator/graphql-kotlin-federation/src/main/kotlin/com/expediagroup/graphql/generator/federation/validation/validateFieldSet.kt
  generator/graphql-kotlin-federation/src/main/kotlin/com/expediagroup/graphql/generator/federation/validation/validateRequiresDirective.kt
  generator/graphql-kotlin-federation/src/test/kotlin/com/expediagroup/graphql/generator/federation/data/integration/key/failure/_04/BaseKeyReferencingExternalFields.kt
  generator/graphql-kotlin-federation/src/test/kotlin/com/expediagroup/graphql/generator/federation/data/integration/requires/failure/_3/RequiresOnLocalType.kt
  generator/graphql-kotlin-federation/src/test/kotlin/com/expediagroup/graphql/generator/federation/validation/FederatedSchemaValidatorTest.kt
  generator/graphql-kotlin-federation/src/test/kotlin/com/expediagroup/graphql/generator/federation/validation/ValidateFieldSetKtTest.kt
  generator/graphql-kotlin-federation/src/test/kotlin/com/expediagroup/graphql/generator/federation/validation/ValidateRequiresDirectiveTest.kt
  generator/graphql-kotlin-federation/src/test/kotlin/com/expediagroup/graphql/generator/federation/validation/integration/FederatedKeyDirectiveIT.kt
  generator/graphql-kotlin-federation/src/test/kotlin/com/expediagroup/graphql/generator/federation/validation/integration/FederatedRequiresDirectiveIT.kt
Labels: changes: patch, module: generator

#1584 [build] update other references of springboot version
  plugins/graphql-kotlin-gradle-plugin/src/integration/client-generator/custom_scalars_jackson/build.gradle.kts
  plugins/graphql-kotlin-gradle-plugin/src/integration/client-generator/polymorphic_types_jackson/build.gradle.kts
  plugins/graphql-kotlin-gradle-plugin/src/integration/client-generator/skip_include/build.gradle.kts
  plugins/graphql-kotlin-gradle-plugin/src/test/kotlin/com/expediagroup/graphql/plugin/gradle/GraphQLGradlePluginAbstractIT.kt
Labels: changes: patch, type: dependency changes
