Repository ExpediaGroup/graphql-kotlin, pull requests merged in 2022-12, with the labels that each got.

#1605 [docs] add link to v6 release medium post
  website/docs/blogs-and-videos.md
Labels: type: documentation

#1607 feat: make builder use null graphQLContext if null was provided
  servers/graphql-kotlin-server/src/main/kotlin/com/expediagroup/graphql/server/extensions/requestExtensions.kt
  servers/graphql-kotlin-server/src/test/kotlin/com/expediagroup/graphql/server/extensions/RequestExtensionsKtTest.kt
Labels: changes: patch, module: server

#1612 feat: add missing async leafs use case to sync exhaustion
  executions/graphql-kotlin-dataloader-instrumentation/src/main/kotlin/com/expediagroup/graphql/dataloader/instrumentation/syncexhaustion/state/ExecutionBatchState.kt
  executions/graphql-kotlin-dataloader-instrumentation/src/main/kotlin/com/expediagroup/graphql/dataloader/instrumentation/syncexhaustion/state/ExecutionStrategyState.kt
  executions/graphql-kotlin-dataloader-instrumentation/src/test/kotlin/com/expediagroup/graphql/dataloader/instrumentation/fixture/AstronautGraphQL.kt
  executions/graphql-kotlin-dataloader-instrumentation/src/test/kotlin/com/expediagroup/graphql/dataloader/instrumentation/fixture/domain/Nasa.kt
  executions/graphql-kotlin-dataloader-instrumentation/src/test/kotlin/com/expediagroup/graphql/dataloader/instrumentation/syncexhaustion/DataLoaderSyncExecutionExhaustedInstrumentationTest.kt
Labels: changes: patch, module: executions

#1619 chore: label 'pre-release' latest unreleased docs
  website/docusaurus.config.js
Labels: type: documentation
